PhotoPartner/Assets.xcassets/AppIcon.appiconset/*
PhotoPartner/Assets.xcassets/bg_main.imageset/*
PhotoPartner.xcodeproj/project.pbxproj
PhotoPartner.xcworkspace/xcuserdata/*
PhotoPartner/en.lproj/InfoPlist.strings
