PhotoPartner/Assets.xcassets/AppIcon.appiconset/*
PhotoPartner/Assets.xcassets/bg_main.imageset/*
PhotoPartner.xcodeproj/project.pbxproj
PhotoPartner.xcworkspace/xcuserdata/dreamover.xcuserdatad/UserInterfaceState.xcuserstate
PhotoPartner/en.lproj/InfoPlist.strings
